This is your profile

<ul class="posts">
    <h2> Your posts </h2>
        <% @posts.each do |post| %>
            <% if post.author == current_user %>
                <%= link_to post.title, post %>
            <% end %>
        <% end %>
</ul>


