<div class="posts">
    <% @posts.each do |post| %>
        <% if post.image.present? %>
            <%= link_to image_tag(post.image), post %>
            <%= link_to post.title, post %>
        <% else %>
            <%= link_to post.title, post %>
        <% end %>
    <% end %>
</div>